.App {
  text-align: center;
}


.names{
  display: none;
}

.show{
  display: block !important;
}
.hide{
  display: none;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1rem;
}

h1{
  font-size: 3rem;
}
form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block: 2rem;
  width: 90%;
}

ol{
  list-style: none;
  padding: 0;
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
}

input, .btn{
  border: none;
  border-radius: 5px;

}
.submit{
  background-color: green;
  color: white;
}
.start{
  background-color: gray;
  color: white;
  width: 90%;
}


.x{
  color: red;
  float: left;
  background-color: transparent;
  border: none;
}

img{
  width: 50vw;
}